* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #000000;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  gap: 50px;
}
